:root{
    --pix-header-transparent: 0;
    --pix-header-menu-transparent: 1;
    --pix-header-height: 103px;
    --pix-header-height-levels: 141px;
    --pix-top-bar-transparent: 0;

    --pix-main-color: #e6433a;
    --pix-main-color-lighter: #F24F46;
    --pix-main-color-lighter-2x: #FE5B52;
    --pix-main-color-darker: #CE2B22;
    --pix-main-color-hex: 230,67,58;
    --pix-gradient-color: #e6433a;
    --pix-gradient-direction-webkit: left;
    --pix-gradient-direction-o: right;
    --pix-gradient-direction-moz: right;
    --pix-gradient-direction: to right;
    --pix-gradient-reverse-direction-webkit: right;
    --pix-gradient-reverse-direction-o: left;
    --pix-gradient-reverse-direction-moz: left;
    --pix-gradient-reverse-direction: to left;
    --pix-additional-color: #3a3636;
    --pix-white-color: #ffffff;
    --pix-black-color: #212121;
    --pix-black-color-hex: 33,33,33;
    --pix-black-color-lighter: #393939;
    --pix-black-color-lighter-2x: #515151;

    --pix-shadow: 0 0px 5px rgba(0,0,0,.1), 0 5px 20px rgba(0,0,0,0.1);
    --pix-text-shadow: none; /*1px 1px 0 rgba(0,0,0,.18);*/

        --pix-button-color: #e6433a;
        --pix-button-color-lighter: #FE5B52;
        --pix-button-color-darker: #F24F46;
        --pix-button-color-hex: 230,67,58;

    --pix-main-font: Jost;
    --pix-font-size: 18px;
    --pix-font-size-larger: 20px;
    --pix-font-size-smaller: 0.8em;
    --pix-font-line-height: 1.8;
    --pix-font-line-height-px: 32px;
    --pix-font-line-height-em: 1.778em;
    --pix-font-weight: 400;
    --pix-font-color: #818181;
    --pix-font-color-light: #ffffff;

    --pix-h1-size: 2.489em;
    --pix-h2-size: 2.074em;
    --pix-h3-size: 1.728em;
    --pix-h4-size: 1.44em;
    --pix-h5-size: 1.2em;
    --pix-h6-size: 1em;

    --pix-title-font: Jost;
    --pix-title-size: 38px;
    --pix-title-weight: 600;
    --pix-title-style: normal;
    --pix-title-color: #000000;
    --pix-title-letter-spacing: 0;

    --pix-subtitle-font: Jost;
    --pix-subtitle-size: 20px;
    --pix-subtitle-weight: 600;
    --pix-subtitle-style: normal;
    --pix-subtitle-color: #000000;
    --pix-subtitle-letter-spacing: 0;

    --pix-hlink-font: Jost;
    --pix-hlink-size: 20px;
    --pix-hlink-weight: 600;
    --pix-hlink-style: normal;
    --pix-hlink-color: #000000;

    --pix-buttons-border: 1px;
    --pix-buttons-font: Jost;
    --pix-buttons-font-size: 18px;
    --pix-buttons-font-weight: 500;
    --pix-buttons-font-style: normal;
    --pix-buttons-text-transform: none;
    --pix-buttons-letter-spacing: 0px;
    --pix-buttons-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);

    --pix-hover-gradient: rgba(0,0,0,.4);

    --pix-tab-overlay-color: #e2e2e2;
    --pix-tab-overlay-gradient: ;
    --pix-tab-gradient-direction-webkit: right bottom;
    --pix-tab-gradient-direction-o: top left;
    --pix-tab-gradient-direction-moz: top left;
    --pix-tab-gradient-direction: to top left;
    --pix-tab-overlay-opacity: 0;

    --pix-svg-search: url(http://localhost/presto/wp-content/themes/solutech/images/svg/search-white.svg);
    --pix-svg-loader: url(http://localhost/presto/wp-content/themes/solutech/images/decor.svg);

    --pix-decor-img: url(http://localhost/presto/wp-content/themes/solutech/images/decor.svg);


}


html .sep-element{
	display: none;
}


.pix-header:not(.header-topbar-view) {
    border-top-width: 1px;
}
.pix-header.header-topbar-view .pix-top-bar{
    border-bottom-width: 1px;
}



html .custom-header span.vc_row-overlay{
	background-color: var(--pix-tab-overlay-color) !important;
	opacity: var(--pix-tab-overlay-opacity);
}









html .custom-header{
	padding: 240px 0 260px;
	margin-bottom: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
        /*box-shadow: 0 -18px 18px -18px rgba(0,0,0,.3) inset, 0 18px 18px -18px rgba(0,0,0,.3) inset;*/
}

html .pix-header.pix-levels.transparent + .custom-header{
    padding-top: 240px;
}

html .pix-header.pix-levels.header-topbar-view + .custom-header{
    padding-top: 290px;
}

/*html .header-topbar-view + .custom-header{
    padding-top: 290px;
}*/

section.pix-page-no-padding{
    margin-top: -0px;
}


@media screen and (max-width: 1024px) {
    html .header-topbar-view + .custom-header{
        padding-top: 240px;
    }
}

@media screen and (max-width: 575px) {
    html .header-topbar-view + .custom-header{
        padding-top: 120px;
        padding-bottom: 180px;
    }
}

