

@media screen and (min-width: 1360px) {
    
    .blog > .container.pix-width-1200.pix-container-boxed{
        max-width: 1300px;
    }
    
    .container.pix-width-1200,
    .container.pix-width-1200 .container{
        max-width: 1170px;
        margin: auto;
    }
    
    .container.pix-width-1000,
    .container.pix-width-1000 .container{
        max-width: 980px;
        margin: auto;
    }
    
    .container.pix-width-900,
    .container.pix-width-900 .container{
        max-width: 860px;
        margin: auto;
    }
}

@media screen and (max-width: 1359px) {
    
    .pix-header .container{
        grid-template-columns: 17% 1fr 5%;
    }
    .pix-main-menu ul li + li {
        margin-left: 0;
    }
    .pix-header nav ul li {
        padding: 0 7px;
    }
    .pix-header nav ul li ul.submenu {
        max-width: 200px;
    }
    .pix-header nav ul li ul.submenu li a{
        white-space: pre-wrap;
    }

    .pix-top-bar .header-topbarbox-1 ul li {
        padding-right: 20px;
    }

    .pix-top-bar .pix-button {
        margin-left: 20px;
    }

    .pix-filter-col {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 200px;
        -ms-flex: 0 0 200px;
        flex: 0 0 200px;
        max-width: 200px
    }

    .pix-sale-box {
        margin-right: 100px;
        width: 425px
    }

    .pix-testimonial {
        margin: 0 175px
    }

    .pix-store-boxes {
        margin: 0 -12px
    }

    .pix-store-box {
        margin: 0 12px 55px
    }

    .pix-team-item {
        margin: 0 25px;
        width: 426px
    }

    .pix-gallery-item-info {
        top: 20px;
        left: 20px
    }

    .pix-gallery-item-info.pix-gallery-item-info-bottom {
        top: inherit;
        bottom: 20px
    }

    .pix-cars-body-box {
        margin: 0 25px 50px !important;
        width: 425px
    }

    .pix-special-offer-slider.owl-carousel {
        width: 950px !important;
    }

    .pix-price-box {
        padding: 40px 25px 60px
    }

    .pix-map-section-col {
        margin-bottom: 20px
    }

    .pix-mob-right {
        text-align: right
    }

    .pix-contact-us {
        padding: 35px 80px 15px
    }

    .pix-mb-col {
        margin-bottom: 20px
    }

    .pix-logo-section-box {
        padding: 40px
    }

    .pix-product-grid-inner {
        margin: 0 -12px
    }

    .pix-product-grid .pix-sale-box {
        width: 48%;
        margin: 0 1% 30px
    }

    .pix-product-grid .pix-sale-box-info-col {
        font-size: 12px
    }

    .pix-single-inner {
        max-width: inherit;
        padding-right: 0
    }

    .modal-content {
        margin: 0 20px
    }

    .pix-footer {
        position: static
    }

    .pix-wrapper {
        margin-bottom: 0 !important
    }

    .pixcars-listing.pix-right-sidebar {
        padding-right: 15px;
    }
    .pixcars-listing.pix-left-sidebar {
        padding-left: 15px;
    }

}



@media screen and (max-width: 1024px) {
    
    .pix-header nav > ul.main-menu-elements > li.pix-header-phone > a {
        top: calc(50% - 16px);
        font-size: 16px;
    }
    
    
    .pix-overlay-container .pix-left{
        left: 1.5rem;
    }
    .pix-overlay-container .pix-right{
        right: 1.5rem;
    }
    .pix-overlay-container .pix-top{
        top: 1.5rem;
    }
    .pix-overlay-container .pix-bottom{
        bottom: 1.5em;
    }
    .pix-overlay-container .pix-translate.pix-top{
        transform: translate3d(0, -1.5rem, 0);
    }
    .pix-overlay-container .pix-translate.pix-bottom{
        transform: translate3d(0, 1.5rem, 0);
    }
    .pix-overlay.pix-hover-icon-plus:before,
    .pix-overlay.pix-hover-icon-plus:after{
        opacity: 0 !important;
    }
    
    .pix-box-name, .pix-item-title,
    .news-card-centered__text{
        padding: 1.5rem;
    }
    .pix-ibox-top .pix-item-title{
        padding: 0.5rem 0 1rem;
    }
    .pix-hover-item p {
        line-height: 1.4;
        font-size: 16px;
    }
    
    .pix-compare-table table th:first-child {
        padding-left: 20px;
    }
    .pix-compare-table table tr td:first-child {
        padding-left: 20px !important;
        width: auto;
    }
    .pix-price-compare-table .pix-button {
        padding: 1rem 1.3rem;
    }
    
    
    
    
}



@media screen and (max-width: 1000px) {
    .pix-main-menu {
        display: none
    }

    .pix-logo {
        margin-bottom: 0
    }

    .pix-mob-btn {
        display: block
    }

    .pix-right-sidebar {
        padding-right: 15px;
    }
    .pix-left-sidebar {
        padding-left: 15px;
    }

    .pix-filter-col {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 48% !important;
        -ms-flex: 0 0 48% !important;
        flex: 0 0 48% !important;
        max-width: 48% !important;
        margin-bottom: 32px
    }

    .pix-filter-section {
        padding: 90px 0 58px
    }

    .pix-sale-box {
        width: 400px;
        margin: 0 169px
    }

    .pix-section-5-left {
        margin-bottom: 50px;
        max-width: inherit
    }

    .pix-testimonial {
        margin: 0 69px
    }

    .pix-store-boxes {
        margin: 0
    }

    .pix-store-box {
        margin: 0 39px 55px
    }

    .pix-big-car-image {
        display: none
    }

    .pix-product-box-info {
        padding: 0 20px;
    }

    .pix-small-section-col {
        border-right: none;
        margin-bottom: 40px
    }

    .pix-small-section {
        padding: 60px 0 30px
    }

    .pix-team-item {
        margin: 0 161px;
        width: 416px
    }

    .pix-progressbar-box {
        max-width: inherit
    }

    .pix-progressbar-col {
        margin-bottom: 30px
    }

    .pix-cars-body-box {
        width: 340px;
        margin: 0 14px 28px !important
    }

    .pix-special-offer-slider.owl-carousel {
        width: 738px !important;
    }

    .pix-price-box {
        margin-bottom: 40px
    }

    .pix-price-box.pix-price-box-big:before {
        top: 0;
        bottom: 0
    }

    #pix-map {
        height: 500px
    }

    .pix-price-section {
        padding: 100px 0 190px
    }

    .pix-car-repair-right {
        padding: 0
    }

    .pix-accordion-body-2 {
        max-width: inherit
    }

    .pix-step-repair-box {
        margin-bottom: 30px
    }

    .pix-section-accent {
        padding: 50px 0 20px
    }

    .pix-compare-table table tr td:first-child {
        padding-left: 15px !important
    }

    .pix-compare-table {
        position: relative;
        overflow: auto;
    }

    .pix-compare-table table {
        min-width: 950px
    }

    .pix-footer-bottom {
        text-align: center
    }

    .pix-footer-bottom-menu {
        margin-bottom: 20px
    }

    .pix-footer-bottom-menu ul {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .pix-footer-bottom-right {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .pix-footer-bottom-left {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .pix-testimonials-slider {
        margin: 0
    }

    .pix-testimonials-slider .owl-stage-outer {
        padding: 0 0 55px
    }

    .pix-product-box {
        padding: 0 0 20px;
        margin-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
    }

    .pix-product-box-img {
        margin: 0 auto 20px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 0;
        -ms-flex: 0 0 0px;
        flex: 0 0 0;
        max-width: initial;
        width: 100%
    }

    .pix-product-box .pix-product-show-boxes {
        min-height: 448px;
    }

    .pix-listing-top-row {
        padding-right: 0
    }

    .pix-single-info .text-right {
        text-align: left !important
    }

    .pix-single-tabs ul.nav {
        border-bottom: none
    }

    .pix-single-tabs ul.nav li {
        width: -webkit-calc(50% - 1px);
        width: calc(50% - 1px);
        margin-right: 1px;
        margin-bottom: 1px
    }

    .pix-single-tabs ul.nav li a {
        padding: 10px 15px;
        width: 100%;
        -webkit-border-radius: 0;
        border-radius: 0
    }

    .pix-single-product-row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .pix-single-inner .pix-shop-boxes {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .pix-blog-img {
        height: auto;
    }

    .modal-body {
        padding: 40px
    }

    .pix-modal-right {
        padding: 0
    }

    .pix-modal-img {
        height: 300px;
        margin-bottom: 50px
    }

    .pix-modal-viewport {
        height: auto
    }

    .pix-single-info .pix-product-box-btn {
        float: none
    }

    html .pix-contact-form .col-lg-4 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pix-contact-form .form-group {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 783px) and (max-width: 1000px) {
    /*.admin-bar .menu-mobile {*/
        /*margin-top: 32px;*/
    /*}*/
    
    .pix-header {
        display: none;
    }
}

@media screen and (max-width: 782px) {
    /*.admin-bar .menu-mobile {*/
        /*margin-top: 46px;*/
    /*}*/
    
    .pix-header {
        display: none;
    }
    
}

@media screen and (max-width: 767px) {
    .pix-header-address {
        display: none
    }

    .pix-header-mail, .pix-header-phone {
        font-size: 0;
        margin-right: 20px
    }

    .pix-header-mail a, .pix-header-phone a {
        min-height: 24px
    }
    
    html .vc_row.pix-padding-top-m,
    html .vc_row > .vc_column_container.pix-padding-top-m,
    html .vc_row.pix-padding-top-l,
    html .vc_row > .vc_column_container.pix-padding-top-l,
    html .vc_row.pix-padding-top-xl,
    html .vc_row > .vc_column_container.pix-padding-top-xl{
        padding-top: 35px;
    }
    html .vc_row.pix-padding-bottom-m,
    html .vc_row > .vc_column_container.pix-padding-bottom-m,
    html .vc_row.pix-padding-bottom-l,
    html .vc_row > .vc_column_container.pix-padding-bottom-l,
    html .vc_row.pix-padding-bottom-xl,
    html .vc_row > .vc_column_container.pix-padding-bottom-xl{
        padding-bottom: 35px;
    }

    .pix-ibox-title-side-top,
    .pix-text-review-right .pix-ibox-title-side-top{
        grid-template-columns: auto;
        grid-row-gap: 20px;
    }

    .pix-ibox-title-side.pix-text-review-right .transparent,
    .pix-ibox-title-side.pix-text-review-right .round {
        grid-row: 1;
    }

    .pix-product-box .pix-product-show-boxes {
        min-height: 310px;
    }

    .pix-dealership-col {
        border: none !important;
        margin-bottom: 40px
    }

    .pix-sale-box {
        margin: 0 55px
    }

    .pix-logo-section {
        display: none
    }

    .pix-section-100, .pix-section-5, .pix-testimonials-section, .pix-cars-store-section, .pix-section-9, .pix-team-section, .pix-question-section, .pix-special-section, .pix-news-section, .pix-car-repair-section, .pix-inner-page-section {
        padding: 80px 0
    }

    .pix-price-section {
        padding: 80px 0 40px
    }

    .pix-testimonials-slider {
        margin: 0
    }

    .pix-testimonials-slider .owl-stage-outer {
        padding: 0 0 55px
    }

    .pix-testimonials-slider .owl-dots {
        margin-top: 0
    }

    .pix-testimonial {
        width: -webkit-calc(100% - 60px);
        width: calc(100% - 60px);
        margin: auto
    }

    .pix-testimonial-img, .pix-testimonial-job {
        display: none
    }

    .pix-testimonial-info {
        padding: 30px
    }

    .pix-testimonial-text {
        height: auto
    }

    .pix-filter-head ul {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 15px;
    }

    .pix-cars-store-section-row {
        margin-bottom: 30px
    }

    .pix-sort-select {
        min-width: 242px;
    }

    .pix-cars-store-section .pix-section-title.pix-left-title, .pix-question-section .pix-section-title.pix-left-title {
        text-align: center
    }

    .pix-cars-store-section .pix-section-title.pix-left-title .pix-h3, .pix-question-section .pix-section-title.pix-left-title .pix-h3 {
        padding-left: 60px
    }

    .pix-cars-store-section .pix-section-description.pix-left-description, .pix-question-section .pix-section-description.pix-left-description {
        text-align: center
    }

    .pix-store-box {
        width: 235px !important;
        margin: 0 10px 30px !important;
    }

    .pix-store-box-img {
        height: 250px
    }

    .pix-isotope-items.gap-info.pix-col-4 .pix-gutter-sizer {
        width: 0;
    }

    .pix-team-item {
        margin: 0 47px
    }

    .pix-cars-body-box {
        width: 100%;
        max-width: 380px;
        margin: 0 auto 30px !important
    }

    .pix-special-offer-slider.owl-carousel {
        width: 510px !important;
    }

    .pix-subscribe-text {
        margin-bottom: 30px
    }

    .pix-contact-us {
        display: none
    }

    .pix-mb-col {
        margin-bottom: 60px
    }

    .pix-product-grid-inner {
        margin: 0
    }

    .pix-product-grid .pix-sale-box {
        margin: 0 auto 30px;
        width: 100%
    }

    .pix-miniature-slider {
        display: none !important
    }

    .pix-single-info {
        padding: 15px 20px
    }

    .pix-single-tabs .tab-pane .pix-checklist {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }

    .pix-single-product-images {
        margin-bottom: 40px
    }

    .pix-blog-article-info {
        padding: 20px 25px
    }

    .modal-body {
        padding: 20px
    }

    .pix-single-tabs ul.nav li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1px
    }

    html .vc_custom_1545241270927 {
        margin-top: 0 !important;
    }





    /* woocommerce */

    html .woocommerce table.shop_table {
        border: 1px solid rgba(0, 0, 0, .1);
        margin: 0 0 24px 0;
    }

    html .woocommerce td {
        border: none;
    }

    html .product-name a {
        padding-bottom: 0;
    }

    .woocommerce .product-quantity .quantity .qty {
        padding: 0;
        height: auto;
        font-size: 12px;
    }

    html .coupon {
        padding-left: 0;
    }

    html .woocommerce-cart table.cart td.actions .coupon .input-text,
    html .woocommerce-page table.cart td.actions .coupon .button{
        margin: 0 0 5px;
        width: 100%;
    }

    .woocommerce .col2-set .col-1,
    .woocommerce-page .col2-set .col-1,
    .woocommerce .col2-set .col-2,
    .woocommerce-page .col2-set .col-2 {
        max-width: 100%;
        padding: 0;
    }

    html .checkout .form-row label {
        padding-top: 5px;
    }

    html ul.products .woo-item-grid .button,
    html .woocommerce div.product .woocommerce-tabs ul.tabs li {
        width: 100%;
    }

}

@media screen and (max-width: 575px) {
    body{
        font-size: 0.9em;
        line-height: 1.5;
    }
    
    span.circle::after {
        height: 1.6em;
        width: 1.6em;
    }
    
    .pix-overlay-container .pix-left{
        left: 1.2rem;
    }
    .pix-overlay-container .pix-right{
        right: 1.2rem;
    }
    .pix-overlay-container .pix-top{
        top: 1.2rem;
    }
    .pix-overlay-container .pix-bottom{
        bottom: 1.2em;
    }
    .pix-overlay-container .pix-translate.pix-top{
        transform: translate3d(0, -1.2rem, 0);
    }
    .pix-overlay-container .pix-translate.pix-bottom{
        transform: translate3d(0, 1.2rem, 0);
    }

    html .navbar-fixed-top {
        position: absolute !important;
    }

    .blog > .container,
    html .pix-blog-classic{
        padding: 0 20px;
    }
    html .pagination {
        margin-top: 50px;
        margin-bottom: 70px;
        padding: 0 20px;
    }

    html div[class*="vc_custom_"]:not([data-vc-stretch-content]) {
        padding: 35px 15px !important;
    }
    html :not(.pix-footer) > .pix-container-boxed div[class*="vc_custom_"]:not([data-vc-stretch-content]):not(.pix-box){
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    /*html :not(.pix-footer) > .pix-container-boxed .rtd div[class*="vc_custom_"]:not([data-vc-stretch-content]):not(.pix-box){*/
        /*padding-left: 10px !important;*/
        /*padding-right: 10px !important;*/
    /*}*/
    html :not(.pix-footer) > .pix-container-boxed div.vc_row.vc_row-has-fill[data-vc-full-width="true"]{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    html :not(.pix-footer) > .pix-container-boxed .rtd > div.vc_row{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .pix-container-boxed > .row > .col-12 {
        padding-left: 0;
        padding-right: 0;
    }
    html div[class*="vc_custom_"] div[class*="vc_custom_"] {
        padding: 15px !important;
    }
    html div[class*="vc_custom_"] div[class*="vc_custom_"] div[class*="vc_custom_"]{
        padding: 0 !important;
    }
    
    
    .pix-title-h2,
    .rtd h2.pix-title-h2 {
        font-size: 30px;
        padding: 0;
    }
    
    html .vc_empty_space {
        display: none;
    }
    
    
    
    div.vc_row.pix-row-overflow[class*="pix-top-offset_"],
    html .blog > .container.pix-container-boxed{
        top: -60px;
    }
    html .blog > .container.pix-container-boxed{
        padding-top: 25px !important;
        margin-bottom: 0;
    }
    div.vc_row.pix-row-overflow[class*="pix-top-offset_"] > .vc_column_container > .vc_column-inner {
        margin-bottom: -60px;
    }
    
    
    html .pix-container-boxed .vc_row[class*="pix_shadow_"] .vc_column_container > .vc_column-inner[class*="pix-padding"],
    .blog > .container.pix-container-boxed {
        margin-left: 15px;
        padding: 50px 25px !important;
        width: calc(100% - 30px);
    }
    .blog > .container.pix-container-boxed{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .blog > .container.pix-container-boxed > .row,
    html .vc_row[class*="vc_column-gap-"]{
        margin-left: 0;
        margin-right: 0;
    }
    html .pix-footer .pix-container-boxed .vc_row[class*="pix_shadow_"] .vc_column_container > .vc_column-inner[class*="pix-padding"]{
        margin-left: 0;
        width: 100%;
    }
    html .pix-footer .pix-container-boxed > .vc_row[class*="pix-top-offset_"] {
        padding-top: 0 !important;
        padding-bottom: 15px !important;
    }
    
    html .vc_custom_1562789899348{
        padding-bottom: 120px !important;
    }
    
    html .section-heading[class*="vc_custom_"] .section-subtitle {
        padding-bottom: 0;
    }
    
    html .vc_row[class*="vc_column-gap-"] .vc_column_container.vc_col-has-fill {
        padding-top: 50px !important;
    }
    html .vc_column_container.vc_col-has-fill > div[class*="vc_custom_"].vc_column-inner {
        padding: 0 !important;
    }

    html .vc_row[class*="vc_column-gap-"]>.vc_column_container{
        padding: 0 !important;
    }

    html div[class*="vc_custom_"]>.pix-item-review{
        padding: 0 !important;
    }

    .vc_row-no-padding .wpb_single_image .vc_figure {
        margin: 0 -15px;
    }

    html .search-container form.searchform div:after{
        display: inline-block;
    }

    html .owl-carousel{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    html .owl-dots {
        margin-top: 30px;
    }
    
    .pix-filter-head ul.pix-filter li{
        display: block;
    }
    
    .pix-filter-head ul.pix-filter li:not(:first-child){
        margin-left: 0;
    }
    
    .pix-filter-head {
        margin: 0 -25px 30px;
    }
    
    .pix-isotope-items .pix-isotope-item {
        width: 100% !important;
    }

    html .pix-easy-chart .pix-text-left.pix-icon-l {
        grid-template-columns: 35% auto;
    }
    .pix-easy-chart .icon {
        justify-self: end;
    }
    
    .news-card-feedback {
        padding: 30px 25px;
    }
    .news-card-feedback__image {
        display: none;
    }
    .news-card-feedback p{
        padding: 0;
    }

    html .pix-testimonials__carousel .owl-stage-outer {
        padding: 0;
    }
    
    .disable-owl-carousel.pix-col-5{
        grid-template-columns: auto;
    }
    .pix-brand-box.disable-owl-carousel.pix-col-5 .pix-logo-img{
        border: 0 !important;
        border-bottom: 1px solid #eee !important;
    }
    .pix-brand-box.disable-owl-carousel.pix-col-5 .pix-logo-img:last-of-type{
        border-bottom-width: 0 !important;
    }
    
    html .pix-container-boxed .vc_row[class*="pix_shadow_"] .vc_column_container > .vc_column-inner[class*="pix-padding"] .pix-table-viewport {
        margin-left: -25px;
        margin-right: -25px;
    }
    .pix-compare-table table {
        min-width: 100%;
    }
    .pix-compare-table table th:first-child,
    .pix-compare-table table tr td:first-child{
        padding-left: 25px !important;
        width: 65%;
    }
    .pix-compare-table table tr th{
        padding: 2em 1em;
    }
    .pix-compare-table table tfoot tr td{
        padding: 2em 1em 0;
    }
    .pix-compare-table:before {
        display: block;
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        top: 7px;
        right: 45px;
        content: "\f0dd";
        color: #000;
        font-size: 20px;
        font-weight: 700;
        z-index: 10;
    }
    .pix-mobile-table-select{
        display: block;
        position: relative;
        width: calc(100% - 50px);
        margin: 0 25px 20px;
        padding: 0.5em 1em;
        font-size: 1.2em;
        border: 1px solid #eee;
    }
    .pix-hide-mobile,
    .pix-hide-mobile-cell{
        display: none;
    }
    

    html .pix-footer .wpb_content_element{
        margin-bottom: 15px;
    }

    html footer.pix-footer div.vc_custom_heading{
        padding: 5px 15px !important;
    }
    html footer.pix-footer p.vc_custom_heading{
        padding: 5px 15px !important;
    }

    html .vc_custom_1541591601759 p {
        text-align: center;
    }
    html .pix-footer-bottom-menu a {
        margin-left: 0;
        text-decoration: underline;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    html .pix-section-tabs .tab-pane .pix-button {
        margin-top: 20px;
    }

    html .pix-footer .subscribe{
        margin-left: 15px;
    }

    html .pix-testimonials__carousel.owl-carousel{
        margin: 0;
    }

    html .pix-price-box {
        min-width: 300px;
    }
    
    html .pix-video .title {
        font-size: 28px;
        margin-top: -100px;
    }
    html .pix-video .duration {
        margin-top: 63px;
    }

    .pix-ibox-side  {
        padding: 5px 15px;
        margin-bottom: 0;
    }

    html div[class*="vc_custom_"] div[class*="vc_custom_"] > .pix-ibox-side {
        padding: 0 !important;
    }

    .pix-ibox-title-side {
        padding: 5px 45px;
    }

    html div[class*="vc_custom_"] div[class*="vc_custom_"] > .pix-ibox-title-side {
        padding: 0;
    }

    .pix-ibox-side .pix-block-content {
        padding-bottom: 0;
    }

	.pix-ibox-side .text{
        width: 100%;
        padding-right: 0;
    }

    .pix-ibox-top {
        padding: 20px;
    }
    .pix-ibox-top .transparent {
        margin-bottom: 20px;
    }
    .pix-ibox-top p {
        margin: 15px 0;
    }

    .services  .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    html .services .nav-tabs > a.btn {
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        margin: 0 auto 10px 0;
        padding: 5px 10px;
        position: relative;
        text-transform: uppercase;
        width: 100%;
    }


    html img[class*="wp-image-"] {
        display: block;
        height: auto;
        max-width: 100%;
        padding-bottom: 15px;
    }
    
    .pix-gallery-slider.pix-filter{
        margin-left: -15px !important;
    }
    .pix-section-title.text-left {
        grid-area: pix_title;
    }
    .pix-gallery-slider-controls{
        grid-area: pix_arrows;
    }
    .pix-gallery-cats.owl-filter-bar{
        grid-area: pix_filter;
    }
    .pix-gallery .pix-section-top-line {
        margin: 2.5em 0;
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "pix_title pix_arrows" "pix_filter pix_filter";
    }
    .pix-gallery-cats {
        position: relative;
        right: 0;
        top: 15px;
        line-height: normal;
    }
    .pix-gallery-cats a {
        display: block;
    }
    .pix-gallery-slider-controls > div.pix-slider-next:before,
    .pix-gallery-slider-controls > div.pix-slider-prev:before {
        top: 5px;
    }
    .pix-rounded .pix-gallery-slider .pix-box-img {
        border-radius: 4px;
    }
    

    .pix-filter-col {
        -webkit-box-flex: 0 !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important
    }

    .pix-filter-col:last-child {
        margin-bottom: 0;
    }

    html .portfolio__container {
        margin: 35px 0;
    }

    .pix-easy-chart .counter-item {
        margin: 10px 40px;
    }

    .pix-sale-box {
        width: 100%;
        margin: 0 auto
    }

    .pix-sale-box-info-row {
        display: none
    }

    .pix-sale-box-img {
        margin-bottom: 30px;
    }

    .pix-section-title {
        padding: 0 0 20px; !important
    }

    footer .pix-ibox-side {
        margin: 0 0 0 -35px;
    }
    footer .pix-ibox-side .round {
        margin-bottom: 0;
    }

    footer .vc_row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pix-section-tabs .nav {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-y: hidden
    }

    .pix-section-tabs .nav li {
        margin-right: 25px
    }

    .pix-store-box,
    .grid-portfolio__item,
    .grid-portfolio__sizer {
        width: 290px !important;
        margin: 0 auto 30px !important;
        right: 0
    }

    .pix-store-box-img {
        height: 310px
    }

    .pix-store-boxes {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .pix-team-item {
        width: 290px;
        height: auto;
        margin: auto
    }

    .pix-team-item:hover .pix-team-item-img,
    .pix-team-item:hover .pix-team-item-bottom {
        transform: none;
    }

    .pix-team-item-img {
        width: 290px;
        height: 290px
    }

    .pix-team-item-bottom {
        width: 290px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 15px;
        height: auto;
        position: static
    }

    .pix-team-item-info {
        margin-bottom: 17px
    }

    .pix-team-item-social a {
        margin-left: 0;
        margin-right: 10px
    }

    .pix-special-offer-slider.owl-carousel {
        width: 100% !important;
    }

    .pix-offer-box {
        padding: 30px !important;
    }

    .pix-offer-slider-item, .pix-offer-slider-item.pix-offer-slider-item-red {
        padding-left: 0;
        padding-right: 0
    }

    .pix-footer-bottom-menu ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .pix-footer-bottom-menu ul li + li {
        margin-left: 0;
        margin-top: 10px
    }

    .pix-news-slider .owl-dots {
        display: none
    }

    .news-card-long__carousel.owl-carousel {
        margin: auto;
    }

    .news-card-long {
        grid-template-columns: auto;
        height: 500px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .news-card-long .news-card-long__text {
        border: 1px solid #eee;
        border-top-style: none;
    }

    .news-card-long .news-card-long__text,
    .news-card-centered .news-card-centered__text {
        padding: 25px;
    }

    .news-card-long__carousel.owl-carousel .owl-stage-outer {
        padding: 0;
    }

    .news-card-centered, .news-card-gradient {
        margin-bottom: 0;
    }

    .pix-cars-gallery-slider-controls > div {
        width: 35px;
        height: 35px
    }

    .pix-cars-gallery-slider-controls {
        top: 35px;
    }

    .pix-listing-top-row {
        margin-bottom: 20px;
    }

    .pix-sort-select {
        width: 100%;
        max-width: initial;
        margin-bottom: 10px;
    }

    .pix-product-box-list {
        grid-template-columns: auto;
    }

    .pix-product-box-header {
        grid-template-columns: auto;
    }

    .pix-product-box-price {
        text-align: left;
        margin-bottom: 5px;
    }

    .pix-product-box-text {
        margin-bottom: 20px;
    }

    .pix-product-box-line {
        margin-bottom: 20px
    }

    .pix-product-box-compare {
        width: 100%;
        text-align: left
    }

    html div.pix-product {
        margin-bottom: 0;
    }

    .pix-change-view-btns {
        text-align: left;
        margin-top: 20px
    }

    .pix-blog-article {
        grid-template-columns: auto;
    }

    .pix-page-title .pix-h1 {
        padding: 0
    }

    .pix-page-title .pix-h1:after {
        display: none
    }

    .pix-single {
        margin-bottom: 40px;
    }

    .pix-single-tabs {
        margin-bottom: 0;
    }

    .pix-single-tabs .tab-pane {
        padding: 30px 0;
    }

    .pix-single-info .text-right {
        margin-top: 5px
    }

    .pix-slider-wrapper .pix-photoswipe-btn {
        left: 15px;
        bottom: 15px
    }

    .pix-slider-count-slides {
        right: 15px;
        bottom: 15px
    }

    .pix-single-tabs .tab-pane .pix-checklist {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }

    .pix-single-slider.owl-carousel .owl-nav button.owl-next, .pix-single-slider.owl-carousel .owl-nav button.owl-prev {
        width: 26px;
        height: 26px;
        line-height: 26px
    }

    .blog-list__article {
        margin-bottom: 40px;
    }

    .blog-article{
        margin-bottom: 50px;
    }

    .pix-sidebar {
        margin-bottom: 50px;
    }

    .pix-sidebar-box {
        margin-bottom: 25px;
    }

    .comment-respond {
        padding: 40px 0 20px;
    }


    /* woo */

    .woocommerce nav.woocommerce-pagination {
        margin-bottom: 50px;
    }

    .woocommerce .woocommerce-ordering {
        margin-bottom: 3em;
        float: left;
    }

    .woocommerce .woocommerce-result-count {
        margin-bottom: 1.5em;
    }

    .woocommerce .related.products,
    .woocommerce div.product .woocommerce-tabs .panel {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    
    html .pix-preview-img {
        min-width: auto;
        height: auto;
        margin-bottom: 0 !important;
    }
}



@media screen and (max-width: 420px) {
    .pix-testimonial, .pix-team-item, .pix-team-item-img, .pix-team-item-bottom, .pix-dealership-box-text {
        width: 100%;
        max-width: 100%
    }

    .pix-store-box-img, .pix-sale-box-img img, .pix-cars-gallery-item img {
        height: auto
    }

    .pix-testimonial, .pix-team-item-img {
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .pix-product-box .pix-product-show-boxes {
        min-height: 210px;
    }

    .pix-section-tabs .nav {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow-y: hidden
    }

    .pix-section-tabs .nav {
        border-bottom: none;
        margin-bottom: 10px
    }

    .pix-section-tabs .nav li a {
        padding-bottom: 5px;
        margin-bottom: 10px
    }
}

